.nav_container{
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}

.links > ul {
  display: flex;
  gap: 2rem;
  margin-right: 2rem ;
  list-style-type: none;
  


  
}

.links > ul > li > a {
text-decoration:none ;
color:black;
}